xml-resources/web-service-references/DelayService/wsdl/localhost_8080/WebServiceDelay/DelayService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tester.controlledthinking.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tester.controlledthinking.com/" name="DelayService">
<types>
<xsd:schema>
<xsd:import namespace="http://tester.controlledthinking.com/" schemaLocation="http://localhost:8080/WebServiceDelay/DelayService?xsd=1"/>
</xsd:schema>
</types>
<message name="delayTen">
<part name="parameters" element="tns:delayTen"/>
</message>
<message name="delayTenResponse">
<part name="parameters" element="tns:delayTenResponse"/>
</message>
<message name="delayFive">
<part name="parameters" element="tns:delayFive"/>
</message>
<message name="delayFiveResponse">
<part name="parameters" element="tns:delayFiveResponse"/>
</message>
<message name="delayFifteen">
<part name="parameters" element="tns:delayFifteen"/>
</message>
<message name="delayFifteenResponse">
<part name="parameters" element="tns:delayFifteenResponse"/>
</message>
<portType name="DelayService">
<operation name="delayTen">
<input wsam:Action="http://tester.controlledthinking.com/DelayService/delayTenRequest" message="tns:delayTen"/>
<output wsam:Action="http://tester.controlledthinking.com/DelayService/delayTenResponse" message="tns:delayTenResponse"/>
</operation>
<operation name="delayFive">
<input wsam:Action="http://tester.controlledthinking.com/DelayService/delayFiveRequest" message="tns:delayFive"/>
<output wsam:Action="http://tester.controlledthinking.com/DelayService/delayFiveResponse" message="tns:delayFiveResponse"/>
</operation>
<operation name="delayFifteen">
<input wsam:Action="http://tester.controlledthinking.com/DelayService/delayFifteenRequest" message="tns:delayFifteen"/>
<output wsam:Action="http://tester.controlledthinking.com/DelayService/delayFifteenResponse" message="tns:delayFifteenResponse"/>
</operation>
</portType>
<binding name="DelayServicePortBinding" type="tns:DelayService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delayTen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delayFive">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delayFifteen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DelayService">
<port name="DelayServicePort" binding="tns:DelayServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceDelay/DelayService"/>
</port>
</service>
</definitions>